<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>千里之行 始于足下 - c++ style</title>
    <meta name="description" content="">
    <meta name="author" content="qianlizhixing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/theme/bootstrap.min.css" rel="stylesheet">
    <link href="/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="/theme/local.css" rel="stylesheet">
    <link href="/theme/pygments.css" rel="stylesheet">
    <link rel="shortcut icon" href="/theme/images/icons/favicon.ico" type="image/x-icon">
</head>

<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" name="hostpage">千里之行 始于足下</a>

                <div class="nav-collapse">
                    <ul class="nav">
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="row">

                <div class="span9">
        

        


    <div class='article'>
        <div class="content-title">
            <a href="/artsdi-san-shi-yi-zhou.html"><h1>ARTS第三十一周</h1></a>
2021-06-07

<a class="url fn">qianlizhixing</a>


 
        </div>
        
        <div><h2>Algorithm</h2>
<p>leetcode 1744 你能在你最喜欢的那天吃到你最喜欢的糖果吗</p>
<ul>
<li><a href="https://leetcode-cn.com/problems/can-you-eat-your-favorite-candy-on-your-favorite-day/">原题</a></li>
<li><a href="https://github.com/qianlizhixing12/coding-training/blob/main/leetcode/1744.py">解题</a></li>
<li>前缀和</li>
</ul>
<h2>Review</h2>
<blockquote>
<p>https://users.ece.cmu.edu/~eno/coding/CppCodingStandard.html</p>
</blockquote>
<h3>命名</h3>
<ul>
<li>名字是对生活的生态进行长期深入思考的结果</li>
<li>只有将系统作为一个整体来理解的程序员才能创建一个“适合”系统的名称</li>
<li>如果名称合适，那么一切都能自然地组合在一起，关系清晰，含义可以推导出来，从人类的共同期望中推理就能正常工作</li>
<li>如果变量表示时间、权重或其他单元，那么在名称中包含该单元，以便开发人员更容易发现问题，例如uint32 mTimeoutMsecs。更好的方法是将一个变量变成一个类，这样就可以捕捉到错误的转换</li>
</ul>
<h4>类名</h4>
<ul>
<li>类名中每个单词首字母大写，不要使用下划线连接每个单词</li>
<li>超过三个单词的复合名称是一个线索，重新审视你的设计，看看你的对象是否比他们应该有更多的责任</li>
<li>避免将派生类的类名带入派生类名的诱惑，一个类应该是独立的，它来自于什么并不重要</li>
</ul>
<h4>类库名</h4>
<ul>
<li>使用名称空间来防止来自不同供应商和组的库之间的类名冲突</li>
</ul>
<h4>方法名</h4>
<ul>
<li>使用与类名相同的规则</li>
<li>每个方法和函数执行一个动作，名称应该清楚它做什么。CheckForErrors()而不是ErrorCheck()，这也将使函数和数据对象更容易区分，类通常是名词，函数名通常是动词</li>
<li>后缀有时是有用的</li>
<li>Max最大值</li>
<li>Cnt计数</li>
<li>Key键值</li>
<li>前缀有时是有用的</li>
<li>Is问问题</li>
<li>Get获取</li>
<li>Set设置</li>
</ul>
<h4>类属性名</h4>
<ul>
<li>属性名应该已小写a开始，再加上其他小写修饰符(p指针point)，后面代词使用与类名相同的规则</li>
</ul>
<h4>方法参数名</h4>
<ul>
<li>第一个字符应该是小写，第一个字母之后的所有单词开头都应该是大写</li>
</ul>
<h4>文件扩展名</h4>
<ul>
<li>头文件.hh</li>
<li>源文件.cc</li>
</ul>
<h4>栈生存周期变量名</h4>
<ul>
<li>使用小写字母</li>
<li>使用下划线_连接单词</li>
</ul>
<h4>指针变量</h4>
<ul>
<li>指针变量应该以前缀p开头</li>
<li>将*放在变量名附近，而不是指针类型</li>
</ul>
<h4>引用变量和返回引用的函数</h4>
<ul>
<li>引用变量应该以前缀r开头</li>
<li>常量引用不应该以前缀r开头</li>
</ul>
<h4>全局变量</h4>
<ul>
<li>全局变量应该以前缀g开头</li>
</ul>
<h4>全局常量</h4>
<ul>
<li>全局常量应该是所有字母大写，以下划线_连接</li>
</ul>
<h4>静态变量</h4>
<ul>
<li>静态变量应该以前缀s开头</li>
</ul>
<h4>类必须方法</h4>
<ul>
<li>类应该实现以下方法</li>
<li>默认构造函数</li>
<li>虚拟析构函数，如果类打算由其他类派生，那么将析构函数设为虚函数</li>
<li>拷贝构造函数</li>
<li>赋值运算符</li>
</ul>
<h3>格式化</h3>
<ul>
<li>每行不应超过78个字符</li>
<li>在等式不等式比较中，总是把常数放在左边</li>
<li>每行应该只有一条语句，除非语句之间关系非常密切</li>
<li>每行定义一个变量</li>
<li>声明块应该对齐</li>
</ul>
<h3>类</h3>
<ul>
<li>初始化所有属性</li>
<li>不要在对象的构造函数中做任何实际工作。在构造函数内部，只初始化变量和只执行不会失败的操作</li>
</ul>
<h4>类文件</h4>
<ul>
<li>每个类的定义应该在它自己的文件中，每个文件都直接以类的名字命名</li>
<li>每个类都应该在一个源文件中实现</li>
<li>如果源文件太大，或者想避免总是编译模板，按照ClassName_section.C添加额外的文件</li>
</ul>
<h3>文档</h3>
<ul>
<li>注释视为描述系统的故事，期望机器人提取注释并形成一个手册页，类注释是故事的一部分，方法签名注释是故事的另一部分，方法参数是另一部分，方法实现又是另一部分。所有这些部分应该交织在一起告诉他人到底做了什么，为什么做</li>
<li>注释应该记录决策，当需要选择做什么的时候，写下所做的选择和原因</li>
<li>显式注释关键词</li>
<li>@author模块作者</li>
<li>@version模块版本</li>
<li>@param函数参数</li>
<li>@return函数返回</li>
<li>@deprecated函数不再被使用</li>
<li>@see创建一个指向文件/函数/变量的链接，以便更好地理解当前代码块的功能</li>
<li>@todo还有什么事要做</li>
<li>@bug报告错误</li>
</ul>
<h2>Tip</h2>
<blockquote>
<p>https://www.runoob.com/w3cnote/yaml-intro.html</p>
</blockquote>
<ul>
<li>yaml.YAMLObject中定义yaml_tag，YAMLObjectMetaclass元类在类创建时将类注册到loader，即yaml_tag与类一一对应，继承自YAMLObject的类定义了对象字典信息，实现序列化和反序列化</li>
</ul>
<div class="highlight"><pre><span></span><code><span class="kn">import</span> <span class="nn">yaml</span>


<span class="k">class</span> <span class="nc">People</span><span class="p">(</span><span class="n">yaml</span><span class="o">.</span><span class="n">YAMLObject</span><span class="p">):</span>
    <span class="n">yaml_tag</span> <span class="o">=</span> <span class="sa">u</span><span class="s1">&#39;!People&#39;</span>

    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">name</span><span class="p">,</span> <span class="n">age</span><span class="p">,</span> <span class="n">sex</span><span class="p">,</span> <span class="n">addr</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">name</span> <span class="o">=</span> <span class="n">name</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">age</span> <span class="o">=</span> <span class="n">age</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">sex</span> <span class="o">=</span> <span class="n">sex</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">addr</span> <span class="o">=</span> <span class="n">addr</span>

    <span class="k">def</span> <span class="fm">__repr__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="s2">&quot;</span><span class="si">%s</span><span class="s2">(name=</span><span class="si">%r</span><span class="s2">, age=</span><span class="si">%r</span><span class="s2">, sex=</span><span class="si">%r</span><span class="s2">, addr=</span><span class="si">%r</span><span class="s2">)&quot;</span> <span class="o">%</span> <span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="vm">__class__</span><span class="o">.</span><span class="vm">__name__</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">name</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">age</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">sex</span><span class="p">,</span> <span class="bp">self</span><span class="o">.</span><span class="n">addr</span><span class="p">)</span>


<span class="n">obj</span> <span class="o">=</span> <span class="n">yaml</span><span class="o">.</span><span class="n">load</span><span class="p">(</span><span class="s2">&quot;&quot;&quot;</span>
<span class="s2">!People</span>
<span class="s2">name: aaa</span>
<span class="s2">age: 16</span>
<span class="s2">sex: boy</span>
<span class="s2">addr: beijing</span>
<span class="s2">&quot;&quot;&quot;</span><span class="p">,</span> <span class="n">yaml</span><span class="o">.</span><span class="n">loader</span><span class="o">.</span><span class="n">FullLoader</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="n">obj</span><span class="p">)</span>
</code></pre></div>

<h2>Share(werkzeug源码解析)</h2>
<h3>datastructures</h3>
<ul>
<li>datastructures.py单元定义了基本类型</li>
<li>为了实现不可修改，定义了一系列Immutable类，通过覆盖默认的魔术方法(__delitem__,__setitem__等)使修改时抛异常</li>
</ul>
<h3>Request</h3>
<ul>
<li>继承关系werkzeug.wrappers.request.Request--&gt;werkzeug.sansio.request.Request</li>
</ul>
<h4>werkzeug.sansio.request.Request</h4>
<ul>
<li>方法基本是对wsgi中environ进行解析，使用时更方便（url，access_route，cookies，host，mimetype，user_agent，args等）</li>
</ul>
<p><code>python
  # werkzeug.wrappers.request.Request初始化__init__调用super(werkzeug.sansio.request.Request)时入参
  def __init__(
          self,
          environ: "WSGIEnvironment",
          populate_request: bool = True,
          shallow: bool = False,
      ) -&gt; None:
          super().__init__(
              method=environ.get("REQUEST_METHOD", "GET"),
              scheme=environ.get("wsgi.url_scheme", "http"),
              server=_get_server(environ),
              root_path=_wsgi_decoding_dance(
                  environ.get("SCRIPT_NAME") or "", self.charset, self.encoding_errors
              ),
              path=_wsgi_decoding_dance(
                  environ.get("PATH_INFO") or "", self.charset, self.encoding_errors
              ),
              query_string=environ.get("QUERY_STRING", "").encode("latin1"),
              headers=EnvironHeaders(environ),
              remote_addr=environ.get("REMOTE_ADDR"),
          )
          ...</code></p>
<ul>
<li>方法大多返回不可修改对象ImmutableMultiDict或ImmutableList</li>
</ul>
<h4>werkzeug.wrappers.request.Request</h4>
<ul>
<li>根据content-type解析http/https的body(environ["wsgi.input"])</li>
</ul>
<p>```python
  from werkzeug.wrappers import Request, Response
  from werkzeug.test import create_environ</p>
<p>environ = create_environ(path='/foo', base_url='http://localhost:8080/', query_string="id=22&amp;name=aaa", content_type="application/json", json={'param1': '666', 'param2': 'kkk'})
  request = Request(environ)
  for key in list(request.<strong>dict</strong>.keys()):
      print(key, getattr(request, key))
  ```</p>
<h3>Response</h3>
<ul>
<li>继承关系werkzeug.wrappers.response.Response--&gt;werkzeug.sansio.response.Response</li>
</ul>
<h4>werkzeug.sansio.response.Response</h4>
<ul>
<li>和werkzeug.sansio.request.Request对应，封装http协议响应控制，status，headers(主要处理mimetype，content_type)</li>
<li>属性status和status_code是同步的，存储在_status, _status_code</li>
</ul>
<h4>werkzeug.sansio.response.Response</h4>
<ul>
<li>根据headers的content_type处理返回http内容body，存储在response</li>
<li>Response是由业务绝对内容的，所以header和body必须在__init__中自己指定，不能像Request从environ解析且不可修改，至于get_wsgi_headers，get_app_iter等environ是用来确定Location等内容</li>
</ul>
<h3>Request和Response配合封装wsgi</h3>
<ul>
<li>werkzeug.wrappers.request.Request.application和werkzeug.wrappers.response.Response.__call__配合封装WSGI流程</li>
</ul>
<div class="highlight"><pre><span></span><code><span class="c1"># 服务端</span>
<span class="sd">&quot;&quot;&quot;</span>
<span class="sd">探索werkzeug.wrappers.request.Request werkzeug.wrappers.response.Response使用</span>
<span class="sd">&quot;&quot;&quot;</span>

<span class="kn">import</span> <span class="nn">json</span>
<span class="kn">from</span> <span class="nn">wsgiref.simple_server</span> <span class="kn">import</span> <span class="n">WSGIServer</span><span class="p">,</span> <span class="n">WSGIRequestHandler</span>
<span class="kn">from</span> <span class="nn">werkzeug</span> <span class="kn">import</span> <span class="n">Request</span><span class="p">,</span> <span class="n">Response</span>


<span class="nd">@Request</span><span class="o">.</span><span class="n">application</span>
<span class="k">def</span> <span class="nf">werkzeug_app</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    werkzeug.Request.application将wsgi入口application参数environ转为werkzeug.Request实例request</span>
<span class="sd">    被装饰函数werkzeug_app处理业务请求和放回，return werkzeug.Response实例</span>
<span class="sd">    werkzeug.Request.application调用werkzeug.Response实例，实例调用__call__内部调用了wsgi回调start_response回写status和headers，本身返回body</span>
<span class="sd">    werkzeug.Request.application完成了wsgi原始入参(environ, start_response) -&gt; body到request -&gt; response的转换</span>

<span class="sd">    进一步，基于werkzeug的框架重点在于路由管理，即werkzeug.Request作为框架入参，根据path method等路由到具体业务，返回werkzeug.Response</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">body</span> <span class="o">=</span> <span class="p">{</span><span class="s1">&#39;method&#39;</span><span class="p">:</span> <span class="n">request</span><span class="o">.</span><span class="n">method</span><span class="p">,</span> <span class="s1">&#39;path&#39;</span><span class="p">:</span> <span class="n">request</span><span class="o">.</span><span class="n">path</span><span class="p">,</span> <span class="s1">&#39;query&#39;</span><span class="p">:</span> <span class="n">request</span><span class="o">.</span><span class="n">query_string</span><span class="o">.</span><span class="n">decode</span><span class="p">(</span><span class="s1">&#39;utf-8&#39;</span><span class="p">)}</span>
    <span class="k">for</span> <span class="n">k</span><span class="p">,</span> <span class="n">v</span> <span class="ow">in</span> <span class="n">request</span><span class="o">.</span><span class="n">json</span><span class="o">.</span><span class="n">items</span><span class="p">():</span>
        <span class="n">body</span><span class="p">[</span><span class="n">k</span><span class="p">]</span> <span class="o">=</span> <span class="n">v</span>

    <span class="k">return</span> <span class="n">Response</span><span class="p">(</span><span class="n">response</span><span class="o">=</span><span class="n">json</span><span class="o">.</span><span class="n">dumps</span><span class="p">(</span><span class="n">body</span><span class="p">),</span> <span class="n">status</span><span class="o">=</span><span class="mi">200</span><span class="p">,</span> <span class="n">content_type</span><span class="o">=</span><span class="s2">&quot;application/json; charset=utf-8&quot;</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">make_server</span><span class="p">(</span><span class="n">host</span><span class="p">,</span> <span class="n">port</span><span class="p">,</span> <span class="n">app</span><span class="p">,</span> <span class="n">server_class</span><span class="o">=</span><span class="n">WSGIServer</span><span class="p">,</span> <span class="n">handler_class</span><span class="o">=</span><span class="n">WSGIRequestHandler</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;Create a new WSGI server listening on `host` and `port` for `app`&quot;&quot;&quot;</span>
    <span class="n">server</span> <span class="o">=</span> <span class="n">server_class</span><span class="p">((</span><span class="n">host</span><span class="p">,</span> <span class="n">port</span><span class="p">),</span> <span class="n">handler_class</span><span class="p">)</span>
    <span class="n">server</span><span class="o">.</span><span class="n">set_app</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">server</span>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="k">with</span> <span class="n">make_server</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="p">,</span> <span class="mi">8000</span><span class="p">,</span> <span class="n">werkzeug_app</span><span class="p">)</span> <span class="k">as</span> <span class="n">httpd</span><span class="p">:</span>
        <span class="n">httpd</span><span class="o">.</span><span class="n">serve_forever</span><span class="p">()</span>


<span class="c1"># 客户端</span>
<span class="kn">from</span> <span class="nn">http.client</span> <span class="kn">import</span> <span class="n">HTTPConnection</span>
<span class="kn">import</span> <span class="nn">json</span>


<span class="k">def</span> <span class="nf">client_demo</span><span class="p">():</span>
    <span class="n">client</span> <span class="o">=</span> <span class="n">HTTPConnection</span><span class="p">(</span><span class="s1">&#39;127.0.0.1&#39;</span><span class="p">,</span> <span class="mi">8000</span><span class="p">)</span>
    <span class="n">body</span> <span class="o">=</span> <span class="n">json</span><span class="o">.</span><span class="n">dumps</span><span class="p">({</span><span class="s1">&#39;param1&#39;</span><span class="p">:</span> <span class="s1">&#39;xxx&#39;</span><span class="p">,</span> <span class="s1">&#39;param2&#39;</span><span class="p">:</span> <span class="s1">&#39;yyy&#39;</span><span class="p">})</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s1">&#39;utf-8&#39;</span><span class="p">)</span>
    <span class="n">headers</span> <span class="o">=</span> <span class="p">{</span><span class="s1">&#39;Content-Type&#39;</span><span class="p">:</span> <span class="s1">&#39;application/json&#39;</span><span class="p">,</span> <span class="s1">&#39;Content-Length&#39;</span><span class="p">:</span> <span class="nb">len</span><span class="p">(</span><span class="n">body</span><span class="p">)}</span>
    <span class="n">client</span><span class="o">.</span><span class="n">request</span><span class="p">(</span><span class="s1">&#39;POST&#39;</span><span class="p">,</span> <span class="s1">&#39;/wsgi_text?user=go&#39;</span><span class="p">,</span> <span class="n">body</span><span class="o">=</span><span class="n">body</span><span class="p">,</span> <span class="n">headers</span><span class="o">=</span><span class="n">headers</span><span class="p">)</span>
    <span class="n">respnese</span> <span class="o">=</span> <span class="n">client</span><span class="o">.</span><span class="n">getresponse</span><span class="p">()</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">respnese</span><span class="o">.</span><span class="n">read</span><span class="p">()</span><span class="o">.</span><span class="n">decode</span><span class="p">(</span><span class="s1">&#39;utf-8&#39;</span><span class="p">))</span>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">client_demo</span><span class="p">()</span>
</code></pre></div>

<h3>封装Application类</h3>
<div class="highlight"><pre><span></span><code><span class="c1"># 官方demo，Shortly相当于Application类，dispatch_request处理路由</span>
<span class="kn">import</span> <span class="nn">os</span>

<span class="kn">from</span> <span class="nn">werkzeug.serving</span> <span class="kn">import</span> <span class="n">run_simple</span>
<span class="kn">from</span> <span class="nn">werkzeug.wrappers</span> <span class="kn">import</span> <span class="n">Request</span><span class="p">,</span> <span class="n">Response</span>
<span class="kn">from</span> <span class="nn">werkzeug.routing</span> <span class="kn">import</span> <span class="n">Map</span><span class="p">,</span> <span class="n">Rule</span>
<span class="kn">from</span> <span class="nn">werkzeug.exceptions</span> <span class="kn">import</span> <span class="n">HTTPException</span><span class="p">,</span> <span class="n">NotFound</span>
<span class="kn">from</span> <span class="nn">werkzeug.middleware.shared_data</span> <span class="kn">import</span> <span class="n">SharedDataMiddleware</span>

<span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="n">user_count</span> <span class="o">=</span> <span class="p">{</span><span class="nb">str</span><span class="p">(</span><span class="nb">id</span><span class="p">):</span> <span class="mi">0</span> <span class="k">for</span> <span class="nb">id</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">10</span><span class="p">)}</span>


<span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="k">return</span> <span class="s1">&#39;index.html&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s1">&#39;user_count&#39;</span><span class="p">:</span> <span class="n">user_count</span><span class="p">}</span>


<span class="k">def</span> <span class="nf">user_details</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">user</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">user_count</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">user</span><span class="p">,</span> <span class="kc">None</span><span class="p">)</span> <span class="ow">is</span> <span class="kc">None</span><span class="p">:</span>
        <span class="k">raise</span> <span class="n">NotFound</span><span class="p">()</span>
    <span class="n">user_count</span><span class="p">[</span><span class="n">user</span><span class="p">]</span> <span class="o">+=</span> <span class="mi">1</span>
    <span class="k">return</span> <span class="s1">&#39;user_details.html&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s1">&#39;user&#39;</span><span class="p">:</span> <span class="n">user</span><span class="p">,</span> <span class="s1">&#39;count&#39;</span><span class="p">:</span> <span class="n">user_count</span><span class="p">[</span><span class="n">user</span><span class="p">]}</span>


<span class="k">def</span> <span class="nf">error_404</span><span class="p">():</span>
    <span class="k">return</span> <span class="s2">&quot;404.html&quot;</span>


<span class="k">class</span> <span class="nc">Shortly</span><span class="p">(</span><span class="nb">object</span><span class="p">):</span>

    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">template_path</span> <span class="o">=</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="vm">__file__</span><span class="p">),</span> <span class="s2">&quot;templates&quot;</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">jinja_env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">FileSystemLoader</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">template_path</span><span class="p">),</span> <span class="n">autoescape</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">handle_404</span> <span class="o">=</span> <span class="n">error_404</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">url_map</span> <span class="o">=</span> <span class="n">Map</span><span class="p">([</span>
            <span class="n">Rule</span><span class="p">(</span><span class="s2">&quot;/index.html&quot;</span><span class="p">,</span> <span class="n">endpoint</span><span class="o">=</span><span class="n">index</span><span class="p">),</span>
            <span class="n">Rule</span><span class="p">(</span><span class="s2">&quot;/&lt;user&gt;.html&quot;</span><span class="p">,</span> <span class="n">endpoint</span><span class="o">=</span><span class="n">user_details</span><span class="p">),</span>
        <span class="p">])</span>

    <span class="k">def</span> <span class="nf">dispatch_request</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">):</span>
        <span class="n">adapter</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">url_map</span><span class="o">.</span><span class="n">bind_to_environ</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">environ</span><span class="p">)</span>
        <span class="k">try</span><span class="p">:</span>
            <span class="n">endpoint</span><span class="p">,</span> <span class="n">values</span> <span class="o">=</span> <span class="n">adapter</span><span class="o">.</span><span class="n">match</span><span class="p">()</span>
            <span class="n">template_name</span><span class="p">,</span> <span class="n">context</span> <span class="o">=</span> <span class="n">endpoint</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="o">**</span><span class="n">values</span><span class="p">)</span>
            <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_template</span><span class="p">(</span><span class="n">template_name</span><span class="p">,</span> <span class="o">**</span><span class="n">context</span><span class="p">)</span>
        <span class="k">except</span> <span class="n">HTTPException</span> <span class="k">as</span> <span class="n">e</span><span class="p">:</span>
            <span class="n">template_name</span><span class="p">,</span> <span class="n">context</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">handle_404</span><span class="p">()</span>
            <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_template</span><span class="p">(</span><span class="n">template_name</span><span class="p">,</span> <span class="o">**</span><span class="n">context</span><span class="p">)</span>
            <span class="n">response</span><span class="o">.</span><span class="n">status</span> <span class="o">=</span> <span class="mi">404</span>
            <span class="k">return</span> <span class="n">response</span>

    <span class="k">def</span> <span class="nf">wsgi_app</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">environ</span><span class="p">,</span> <span class="n">start_response</span><span class="p">):</span>
        <span class="n">request</span> <span class="o">=</span> <span class="n">Request</span><span class="p">(</span><span class="n">environ</span><span class="p">)</span>
        <span class="n">response</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">dispatch_request</span><span class="p">(</span><span class="n">request</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">response</span><span class="p">(</span><span class="n">environ</span><span class="p">,</span> <span class="n">start_response</span><span class="p">)</span>

    <span class="k">def</span> <span class="fm">__call__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">environ</span><span class="p">,</span> <span class="n">start_response</span><span class="p">):</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">wsgi_app</span><span class="p">(</span><span class="n">environ</span><span class="p">,</span> <span class="n">start_response</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">render_template</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">template_name</span><span class="p">,</span> <span class="o">**</span><span class="n">context</span><span class="p">):</span>
        <span class="n">t</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">jinja_env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="n">template_name</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">Response</span><span class="p">(</span><span class="n">response</span><span class="o">=</span><span class="n">t</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">context</span><span class="p">),</span> <span class="n">mimetype</span><span class="o">=</span><span class="s1">&#39;text/html&#39;</span><span class="p">)</span>


<span class="k">def</span> <span class="nf">create_app</span><span class="p">():</span>
    <span class="n">app</span> <span class="o">=</span> <span class="n">Shortly</span><span class="p">()</span>
    <span class="n">app</span><span class="o">.</span><span class="n">wsgi_app</span> <span class="o">=</span> <span class="n">SharedDataMiddleware</span><span class="p">(</span><span class="n">app</span><span class="o">.</span><span class="n">wsgi_app</span><span class="p">,</span> <span class="p">{</span><span class="s2">&quot;/static&quot;</span><span class="p">:</span> <span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">os</span><span class="o">.</span><span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="vm">__file__</span><span class="p">),</span> <span class="s2">&quot;static&quot;</span><span class="p">)})</span>
    <span class="k">return</span> <span class="n">app</span>


<span class="k">if</span> <span class="vm">__name__</span> <span class="o">==</span> <span class="s1">&#39;__main__&#39;</span><span class="p">:</span>
    <span class="n">run_simple</span><span class="p">(</span><span class="s1">&#39;127.0.0.1&#39;</span><span class="p">,</span> <span class="mi">5000</span><span class="p">,</span> <span class="n">create_app</span><span class="p">(),</span> <span class="n">use_debugger</span><span class="o">=</span><span class="kc">True</span><span class="p">,</span> <span class="n">use_reloader</span><span class="o">=</span><span class="kc">True</span><span class="p">)</span>
</code></pre></div>

<div class="highlight"><pre><span></span><code><span class="cp">&lt;!templates/layout.html&gt;</span>
<span class="cp">&lt;!doctype html&gt;</span>
<span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{% block title %}{% endblock %} | shortly<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">stylesheet</span> <span class="na">href</span><span class="o">=</span><span class="s">/static/style.css</span> <span class="na">type</span><span class="o">=</span><span class="s">text/css</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">box</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span> <span class="s">/</span><span class="p">&gt;</span>shortly<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span> <span class="na">class</span><span class="o">=</span><span class="s">tagline</span><span class="p">&gt;</span>Shortly is a URL shortener written with Werkzeug
        {% block body %}{% endblock %}
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>


<span class="cp">&lt;!templates/index.html&gt;</span>
{% extends &quot;layout.html&quot; %}
{% block title %}All User{% endblock %}
{% block body %}
<span class="p">&lt;</span><span class="nt">table</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">caption</span><span class="p">&gt;</span>All User<span class="p">&lt;/</span><span class="nt">caption</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">thead</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>user<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>count<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">tr</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">thead</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">tbody</span><span class="p">&gt;</span>
        {% for user, count in user_count.items() %}
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;/{{user}}.html&quot;</span><span class="p">&gt;</span>{{user}}<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p">&gt;</span>{{count}}<span class="p">&lt;/</span><span class="nt">th</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {% endfor %}
    <span class="p">&lt;/</span><span class="nt">tbody</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">table</span><span class="p">&gt;</span>
{% endblock %}


<span class="cp">&lt;!templates/user_details.html&gt;</span>
{% extends &quot;layout.html&quot; %}
{% block title %}Details about {{ user }}{% endblock %}
{% block body %}
<span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span> user:{{ user }} count:{{ count }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
{% endblock %}


<span class="cp">&lt;!templates/404.html&gt;</span>
{% extends &quot;layout.html&quot; %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
    <span class="p">&lt;</span><span class="nt">h2</span><span class="p">&gt;</span>Page Not Found<span class="p">&lt;/</span><span class="nt">h2</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>I am sorry, but no such page was found here.
{% endblock %}
</code></pre></div>

<div class="highlight"><pre><span></span><code><span class="err">#</span> <span class="nt">static</span><span class="o">/</span><span class="nt">style</span><span class="p">.</span><span class="nc">css</span>
<span class="nt">body</span>        <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="mh">#E8EFF0</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">body</span><span class="o">,</span> <span class="nt">input</span> <span class="p">{</span> <span class="k">font-family</span><span class="p">:</span> <span class="s1">&#39;Helvetica Neue&#39;</span><span class="p">,</span> <span class="n">Arial</span><span class="p">,</span>
              <span class="kc">sans-serif</span><span class="p">;</span> <span class="k">font-weight</span><span class="p">:</span> <span class="mi">300</span><span class="p">;</span> <span class="k">font-size</span><span class="p">:</span> <span class="mi">18</span><span class="kt">px</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">box</span>        <span class="p">{</span> <span class="k">width</span><span class="p">:</span> <span class="mi">500</span><span class="kt">px</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">60</span><span class="kt">px</span> <span class="kc">auto</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">20</span><span class="kt">px</span><span class="p">;</span>
              <span class="k">background</span><span class="p">:</span> <span class="kc">white</span><span class="p">;</span> <span class="k">box-shadow</span><span class="p">:</span> <span class="mi">0</span> <span class="mi">1</span><span class="kt">px</span> <span class="mi">4</span><span class="kt">px</span> <span class="mh">#BED1D4</span><span class="p">;</span>
              <span class="k">border-radius</span><span class="p">:</span> <span class="mi">2</span><span class="kt">px</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">a</span>           <span class="p">{</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#11557C</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">h1</span><span class="o">,</span> <span class="nt">h2</span>      <span class="p">{</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#11557C</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">h1</span> <span class="nt">a</span>        <span class="p">{</span> <span class="k">text-decoration</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span> <span class="p">}</span>
<span class="nt">h2</span>          <span class="p">{</span> <span class="k">font-weight</span><span class="p">:</span> <span class="kc">normal</span><span class="p">;</span> <span class="k">font-size</span><span class="p">:</span> <span class="mi">24</span><span class="kt">px</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">tagline</span>    <span class="p">{</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#888</span><span class="p">;</span> <span class="k">font-style</span><span class="p">:</span> <span class="kc">italic</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span> <span class="mi">0</span> <span class="mi">20</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">link</span> <span class="nt">div</span>   <span class="p">{</span> <span class="k">overflow</span><span class="p">:</span> <span class="kc">auto</span><span class="p">;</span> <span class="k">font-size</span><span class="p">:</span> <span class="mf">0.8</span><span class="kt">em</span><span class="p">;</span> <span class="k">white-space</span><span class="p">:</span> <span class="kc">pre</span><span class="p">;</span>
              <span class="k">padding</span><span class="p">:</span> <span class="mi">4</span><span class="kt">px</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span> <span class="k">margin</span><span class="p">:</span> <span class="mi">5</span><span class="kt">px</span> <span class="mi">0</span><span class="p">;</span> <span class="k">background</span><span class="p">:</span> <span class="mh">#E5EAF1</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">error</span>      <span class="p">{</span> <span class="k">background</span><span class="p">:</span> <span class="mh">#E8EFF0</span><span class="p">;</span> <span class="k">padding</span><span class="p">:</span> <span class="mi">3</span><span class="kt">px</span> <span class="mi">8</span><span class="kt">px</span><span class="p">;</span> <span class="k">color</span><span class="p">:</span> <span class="mh">#11557C</span><span class="p">;</span>
              <span class="k">font-size</span><span class="p">:</span> <span class="mf">0.9</span><span class="kt">em</span><span class="p">;</span> <span class="k">border-radius</span><span class="p">:</span> <span class="mi">2</span><span class="kt">px</span><span class="p">;</span> <span class="p">}</span>
<span class="p">.</span><span class="nc">urlinput</span>   <span class="p">{</span> <span class="k">width</span><span class="p">:</span> <span class="mi">300</span><span class="kt">px</span><span class="p">;</span> <span class="p">}</span>
</code></pre></div></div>
        <hr />
    </div>
		
<div class="pagination">
<ul>
    <li class="prev disabled"><a href="#">&larr; Previous</a></li>

    <li class="active"><a href="/tag/c-style.html">1</a></li>

    <li class="next disabled"><a href="#">&rarr; Next</a></li>

</ul>
</div>
 
  
                </div>

                <div class="span3">

                    <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                Site
                            </li>

                            <li><a href="/archives.html">Archives</a>
                            <li><a href="/tags.html">Tags</a>
                        </ul>
                    </div>


                    <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                Categories
                            </li>

                            <li><a href="/category/arts.html">ARTS</a></li>
                            <li><a href="/category/cheng-xu-yuan-sheng-ya.html">程序员生涯</a></li>
                        </ul>
                    </div>
                </div>             </div>         </div> 
        <footer>
            <br />
            <p><a name="hostpage">千里之行 始于足下</a> &copy; qianlizhixing 2021</p>
        </footer>

    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/theme/bootstrap-collapse.js"></script>
    <script>
        document.getElementsByName("hostpage").forEach((item) => {
            item.href = window.location.origin;
        });
    </script>
</body>

</html>